body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction:column;
  min-height: 95vh;
  
}
.logo{
  height:50px;
}
.creative{
  color: blueviolet;
}
.main {
  flex: 1;

   
}
.tile-image{
  height: auto;
  width: 15%;

  position: absolute;
  

}
.card{
  width: 45%;


}
.left{
  float: left;
  
  
}
.right{
 float: right;
  
}
.card-title{
  position: relative;
  left: 60%;
}
p {
  width: 40%;
  float: right;
  position: relative;
  font-size: 1rem;

}
 
h1 {
  font-size: 6rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

