/* Don't change the existing CSS. */

#outer-box {
  background-color: purple;
}
.box {
  background-color: blue;
  padding: 10px;
}
.inner-box{
  background-color: red; /* sachant que toutes les div partage la class box 
  inner-box étant la deuxième class elles sont au même niveau du coup c'est leur position qui prime
  si on met inner-box au dessus de box alors le background ne sera pas rouge*/
}
p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text{
  color: white;
  padding: 10px;
}

